<div class="container-fluid">
    <div class="container">
        <div class="row mt-4" style="height: 500px">
            <div class="col"></div>
            <div class="col-md-6 bg-white shadow">


                <div class="card bg-warning">
                    <h4 class="text-white ps-3 pt-2 pb-2">To Do List</h4>
                </div>

                <div class="shadow
                ">
                    <div class="input-group p-4">
                        <input type="text" class="form-control" placeholder="Enter task" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="addTaskValue">
                        <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="addTask()">+</button>
                      </div>
                      
                </div>

                <h4 class="text-primary mt-4"> Tasks : </h4>
                <div style="overflow-y: auto; height: 350px;">
                <div class="m-3" *ngFor="let task of taskArr">
                    <div class="p-2 shadow">
                        <div class="card col-md-10">
                            {{task.task_name}}
                        </div>
                        <button class="btn btn-outline-primary col me-2" (click)="call(task)">e
                            <div class="btn btn-outline-danger col" (click)="deleteTask(task)">X</div>
                        </button>
                    </div>
                </div>
            </div>



            </div>
           
        </div>
    </div>
</div>
